<div class="ui-g"  style="height: 100%;">
  <div class="ui-g-8"  style="background-color: indianred">
    <div class="ui-g-12">
        <p-menubar [model]="items"></p-menubar>
      </div>
      <div class="ui-g-12">
          <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
        </div>
      <div class="ui-g-4">
          InputText
      </div>
      <div class="ui-g-8">
          <input pInputText type="text" />
      </div>
  </div>
  <div class="ui-g-4" style="height: 100%; background-color: gold;">
      <div class="ui-g-4">
          Textarea
      </div>
      <div class="ui-g-8">
          <textarea pInputTextarea type="text"></textarea>
      </div>
  </div>
</div>